@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Manrope, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  margin: 0;
  padding: 0;
  border: 0;

  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

th {
  @apply font-semibold;
  @apply text-sm;
  @apply py-3;
  @apply border-b;
}

thead tr {
  position: sticky;
  top: 0;
}

tr td {
  @apply text-sm;
  @apply py-3;
  @apply h-14;
}
